{% if entity_title is not defined %}
  {% set entity_title = 'name' %}
{% endif %}
  
{% if entity_caption is not defined %}
  {% set entity_title = 'caption' %}
{% endif %}
  
  {% spaceless %}
<section class="article">
  <ul class="admin-list">
  {% for entity in entities %}
    {% if route is not defined %}
      {% set route = '#' %}
    {% else %}
        {% set routeParams = {} %}
        {% for key, p in route.params %} 
           {% set routeParams = routeParams|merge({ (key ~ ""): attribute(entity, p)}) %}
        {% endfor %}
        {% set route = path(route.path, routeParams) %}
      {% endif %}
    
      <li>
        <a href="{{ route }}" class="contents">
          <h2 class="link-tag">{{ attribute(entity, entity_title) }}</h2>
          <p><span class="link-tag">tarots</span>, <span class="link-tag">taromancie</span>, <span class="link-tag">cartomancie</span></p>
        </a>
        <a href="#" class="del"></a>
      </li>
  {% else %}
      <p>Aucun élément</p>
  {% endfor %}
    </ul>
  </section>
{% endspaceless %}