{% spaceless %}
<nav class="ariane">
  <ul>

          {% for arg in args %}
            {% set keys = arg|keys %}
              {% set params = {} %}
              {% if keys[1] is defined %}
                {% set params = arg[keys[1]] %}
              {% endif %}
             <li><a href="{{ path(keys[0], params) }}">{{ arg[keys[0]]|striptags }}</a></li>
          {% endfor %}
   </ul>
</nav>
{% endspaceless %}