<header>
  <div class="container">
    <a href="#" class="logo"><img src="{{ asset('img/neralind-logo.png') }}" alt="Neralind.com - Communauté d'esprit" /></a>

    <div class="menus">
      <nav>
        <ul>
          <li class="menu"><a href="#">Menu</a></li>
          <li class="tags"><a href="#">Les tags</a></li>
          <li class="icon contact"><a href="#">Contact</a></li>
          <li class="icon fb"><a href="#">Facebook</a></li>
          <li class="icon twitter"><a href="#">Twitter</a></li>
          <li class="icon help"><a href="#">Aide</a></li>
        </ul>
      </nav>

      <form method="get" action="#">
        <div class="form_search">
          <input type="search" class="q" name="q" placeholder="Rechercher sur le site" />
          <input type="submit" class="btn search" value="Search" />
        </div>
      </form>
    </div>
  </div>
</header>