<footer>
  <div class="container">
    <ul><li class="about">
        <div class="h3">À propos</div>
        <p>Neralind.com ; tous droits réservés. Association loi 1901 <a href="#">Neralind</a>.
        <nav>
          <ul>
            <li><a href="#">Plan du site</a></li>
            <li><a href="#">Mentions légales</a></li>
          </ul>
        </nav>
      </li><li class="contents">
        <div class="h3">Derniers contenus</div>
        <nav>
          <ul>
            <li><a href="#">Lorem ipsum sit amet</a></li>
            <li><a href="#">Quaercera</a></li>
            <li><a href="#">Sit amt equilibrum</a></li>
            <li><a href="#">Dictae ita rescue</a></li>
          </ul>
        </nav>
      </li><li class="discussions">
        <div class="h3">Discussions</div>
        <nav>
          <ul>
            <li><a href="#">Lorem ipsum sit amet</a></li>
            <li><a href="#">Dictae ita rescue Quaercera</a></li>
            <li><a href="#">Sit amt equilibrum</a></li>
            <li><a href="#">Quaercera</a></li>
            <li><a href="#">Sit amt equilibrum</a></li>
            <li><a href="#">Dictae ita rescue</a></li>
          </ul>
        </nav>
      </li><li class="nav">
        <form method="get" action="#" class="search">
          <input type="search" class="q" name="q" placeholder="Rechercher sur le site" />
          <input type="submit" class="btn search" value="Search" />
        </form>
        <nav class="nav">
          <ul>
            <li><a href="#">Les tags</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Aide</a></li>
          </ul>
        </nav>
        <div class="h3">Suivez-nous</div>
        <nav class="social">
          <ul>
            <li class="icon fb"><a href="#">Facebook</a></li>
            <li class="icon twitter"><a href="#">Twitter</a></li>
          </ul>
        </nav>
      </li></ul>
  </div>
</footer>