{% extends "::layout.html.twig" %}

{% block javascript %}
<script src="{{ asset('javascripts/init.admin.js', 'cdn') }}"></script>
{% endblock %}

{% block body %}
<nav class="spacemenu">
	<div class="r-container">
		<a href="{{ path('admin') }}" class="spacemenu-logo"><i class="icon-cog spacemenu-logo-icon"></i> admin</a>
		<ul class="spacemenu-list">

			{% if is_granted('ROLE_ADMIN_TAG') %}
			<li class="spacemenu-item">
				<a href="{{ path('admin_tag') }}" title="Gestion des tags" class="icon-square icon-th-large spacemenu-link"></a>
			</li>
			{% endif %}

			{% if is_granted('ROLE_ADMIN_TICKET') %}
			<li class="spacemenu-item">
				<a href="{{ path('admin_ticket') }}" title="Gestion des tickets" class="icon-square icon-ticket spacemenu-link"></a>
			</li>
			{% endif %}

		</ul>
	</div>
</nav>
{% endblock %}