{% extends '::layout.html.twig' %}

{% block stylesheets %}
 {% stylesheets 'bundles/neralindmain/less/styles-admin.less'
          output='css/styles.css' filter='cssrewrite, ?yui_css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %} 
{% endblock %}

{% block body -%}
   <div id="menu-top" class="admin" data-fixed="top">
    <div class="container">
        <a href="#" class="logo">admin</a>
        <ul>
            <li><a href="{{ path('admin_tag') }}" class="tags">Gestion des tags</a></li>
        </ul>
    </div>
</div>
   {% block body_admin %}
   
   {% endblock %}
{% endblock body %}