parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     sfNeralind
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fr
    secret:            'neralindtokenismust#forall8'
    
    node_path: 'C:\Program Files\nodejs\node.exe'
    less_path: 'D:\Documents and Settings\mcastanheiro\Application Data\npm\node_modules'

    #node_path: /usr/local/bin/node
    #less_path: /usr/local/lib/node_modules

    cdn: http://cdn.neralind.com