{% extends '::layout-admin-entity.html.twig' %}
{% set title = "Modifier le tag <strong class='link-tag'>"~entity.name~"</strong>" %}
{% block ariane %}{% include '::ariane.html.twig' with {
      'args': [
        {'admin_tag':  'admin'},
        {'admin_tag':  "gestion des tags"},
        {'admin_tag_edit':  title, "params": {'slug': entity.slug} }
      ]
} %}{% endblock %} 
{% block list %}{{ render(controller("NeralindTagBundle:Admin:list")) }}{% endblock %}
{% block search %}{{ render(controller("NeralindTagBundle:Admin:find")) }}{% endblock %}
{% block form %}<h2>Modifier le tag <span class="link-tag">{{ entity.name }}</span></h2>{{ form(edit_form, { 'attr': { 'class': 'classic'} }) }}{% endblock %}
    

