<section class="article">
  <ul class="admin-list">
    {% for entity in entities %}
      <li>
        <a href="{{ path('admin_tag_edit', {'slug': entity.slug }) }}" class="contents">
          <h2 class="link-tag">{{ entity.name }}</h2>
          <p>{% for p in entity.redirectionWords %}
            <span class="link-tag">{{ p.name }}</span>{% if not loop.last %}, {% endif %}
            {% else %}-{% endfor %}</p>
            </a>
            <a href="#" class="del"></a>
          </li>
          {% else %}
            <p>Aucun élément</p>
            {% endfor %}
            </ul>
          </section>