@font-face {
    font-family: 'Quicksand';
    src: url('../../bundles/neralindmain/font/quicksand-bold-webfont.eot');
    src: url('../../bundles/neralindmain/font/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../bundles/neralindmain/font/quicksand-bold-webfont.woff') format('woff'),
         url('../../bundles/neralindmain/font/quicksand-bold-webfont.ttf') format('truetype'),
         url('../../bundles/neralindmain/font/quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../../bundles/neralindmain/font/quicksand-light-webfont.eot');
    src: url('../../bundles/neralindmain/font/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../bundles/neralindmain/font/quicksand-light-webfont.woff') format('woff'),
         url('../../bundles/neralindmain/font/quicksand-light-webfont.ttf') format('truetype'),
         url('../../bundles/neralindmain/font/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: 300;
    font-style: normal;

}

@font-face {
    font-family: 'Quicksand';
    src: url('../../bundles/neralindmain/font/quicksand-regular-webfont.eot');
    src: url('../../bundles/neralindmain/font/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../bundles/neralindmain/font/quicksand-regular-webfont.woff') format('woff'),
         url('../../bundles/neralindmain/font/quicksand-regular-webfont.ttf') format('truetype'),
         url('../../bundles/neralindmain/font/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: 400;
    font-style: normal;

}