parameters:
#    neralind_tag.example.class: Neralind\TagBundle\Example

services:
   validator.NoRelationWordValidator:
        class: Neralind\TagBundle\Validator\Constraints\NoRelationWordValidator
        arguments: [@doctrine.orm.entity_manager]
        tags:
            - { name: validator.constraint_validator, alias: NoRelationWordValidator }