parameters:
#    neralind_tag.example.class: Neralind\TagBundle\Example

services:
#    neralind_tag.example:
#        class: %neralind_tag.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
